/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* common */
.flex{
    display: flex;
}

li{
    list-style-type: none;
}


body{
    background: linear-gradient(180deg, #009688 20%, #DADBD3 20%);
    height: 100vh;
    width: 100%;
    padding: 20px 0;
}

#app{
    height: 100%;
}

.container{

    width: 80%;
    height: 100%;
    margin: 0 auto;
}

/* list chat section */
.list-section{
    width: 30%;
    height: 100%;
}

.me-bar,
.contact-chat-bar{
    height: 40px;
    padding: 5px;
    background-color: #EAEAEA;
    align-items: center;
    justify-content: space-between;
}

.contact-chat-bar{
    border-left: 1px solid lightgrey;
}

.me-bar .my-name,
.contact-chat-bar .contact-name{
    align-self: center;
    padding: 5px;
}

.me-bar .profile-right-btn i,
.contact-chat-bar .contact-bar-right-btn i{
    color: grey;
    padding: 7px;

}

.notification-on-off{
    height: 50px;
    /* width: 100%; */
    background-color: #8EDAFC;
    color: #8EDAFC;
    align-items: center;
    
}

.notification-on-off-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 10px;

}


.notification-on-off-message{
    color: black;
    margin-left: 10px;
    font-size: .8rem;
}

.notification-on-off-message div{
    color: grey;
    text-decoration: underline;
    font-size: .6rem;
    margin-top: 2px;
}

.search-chat{
    height: 30px;
    width: 100%;
    background-color: #FAFAFA;
    color: grey;
    font-size: 0.5rem;
    align-items: center;
    padding: 5px;
    
}

.search-chat-btn i{
    background-color: white;
    padding: 5px 15px;
    height: 100%;
    font-size: .7rem;

   
}

.search-chat-btn{
    /* justify-self: flex-end; */
    height: 100%;
    border: 1px lightgrey solid;

}

.search-chat input{
    margin: 0 auto;
    font-size: 0.5rem;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    /* justify-content: flex-start; */
    border: 0;
    
}

.search-chat-input {
    width: 100%;
    height: 100%;
    /* flex-grow: 1; */
    border: 1px lightgrey solid;
    background-color: white;

}

/* chat list */
.chat-list{
    height: calc(100% - 120px);
    overflow: auto;

}
.img-profile{
    height: 100%;
    text-align: left;

}

.img-profile img{
    height: 100%;
    clip-path: circle();


}

.chat-list li{
    height: 50px;
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    position: relative;
    overflow: hidden;

}

.contact-name{
    padding-left: 10px;
    font-size: .9rem;
}

.contact-name div{
    color: gray;
    font-size: .6rem;
    vertical-align: top;
    margin-top: 2px;
    white-space: nowrap;
}

.last-time-sent{
    position: absolute;
    top: 5px;
    right: 5px;

}

/*chat section */
.chat-section{
    width: 70%;
    height: 100%;
    background-image: url("../img/mine.jpg");
}

.chat{
    flex-direction: column;
    height: 100%;
}

.no-chat{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 5px solid #017c70;
    color: #009688;
}

.chat-messages{
    padding: 20px;
    flex-direction: column;
    flex-grow: 1;
}

/* messages */
.messages{
    padding: 10px;
    border-radius: 10px;
    max-width: 40%;
    margin-bottom: 10px;
    font-size: .7rem;
}

.sent{
    background-color: #D5F9BA;
    align-self: flex-end;

}

.recived{
    background-color: white;
}

/* send message */
.send-message-bar{
    height: 50px;
    padding: 5px;
    background-color: #EAEAEA;
    align-items: center;


}
.send-message-bar i {
    padding: 30px;
    color: gray;
}


.send-message-bar input{
    flex-grow: 1;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-size: .7rem;

}